#Ignore CMakeLists files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# cmake build files
**/cmake/build/

#Ignore other folders
old/*

# C/C++ build outputs
.build/

build/

**/EPS-personalModelTest/build/**

bins
gens
libs
objs

# Visual Studio Code artifacts
.cache/*

.vscode/*

.history/
